<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>图书管理系统</title>
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../css/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="system.html">图书管理系统</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="system.html"><i class="fa fa-user fa-fw"></i> 修改用户信息</a>
                        </li>
                        <li><a href="changepassword.html"><i class="fa fa-gear fa-fw"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a id='logout'><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li>
                        <li>
                            <a href="bookfind.html">图书查询</a>
                            <a href="isborrowing.html">当前借阅</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        	<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">用户信息</h1>
                </div>
                <div class="row">
                	<div class="col-lg-12">
                    	<div class="panel panel-default">
	                        <div class="panel-heading">查看用户信息</div>
			                <div class="panel-body">
			                    <div class="col-lg-6 col-lg-offset-2">
                                <div id="infovue">
			                        <form class="form-horizontal">
									    <div class="form-group">
										    <label class="col-sm-2 control-label">姓名</label>
										    <div class="col-sm-10">
										      	<input type="text" class="form-control" v-model="username">
										    </div>
									  	</div>
									  	<div class="form-group">
										    <label class="col-sm-2 control-label">性别</label>
										    <div class="col-sm-10">
									      	 	<select class="form-control" v-model="sex">
                                                    <option>男</option>
                                                    <option>女</option>
                                            	</select>
										    </div>
									  	</div>
									  	<div class="form-group">
										    <label class="col-sm-2 control-label">最大借阅数</label>
										    <div class="col-sm-10">
										      	<input type="text" class="form-control" v-model="maxbook" disabled>
										    </div>
									  	</div>
									  	<div class="form-group">
										    <label class="col-sm-2 control-label">读者类型</label>
										    <div class="col-sm-10">
										      	<input type="text" class="form-control" v-model="role" disabled>
										    </div>
									  	</div>
									  	<div class="form-group">
										    <label class="col-sm-2 control-label">Email</label>
										    <div class="col-sm-10">
										      	<input type="text" class="form-control" v-model="email">
										    </div>
									  	</div>
									  	<div class="form-group">
										    <label class="col-sm-2 control-label">Tel</label>
										    <div class="col-sm-10">
										      	<input type="text" class="form-control" v-model="tel">
										    </div>
									  	</div>
									  	<div class="form-group">
										    <label class="col-sm-2 control-label">住址</label>
										    <div class="col-sm-10">
										      	<input type="text" class="form-control" v-model="addr">
										    </div>
									  	</div>
									  	<div class="form-group">
										    <label class="col-sm-2 control-label">注册日期</label>
										    <div class="col-sm-10">
										      	<input type="text" class="form-control" v-model="register_time" disabled>
										    </div>
									  	</div>
									  	<div class="form-group">
										    <label class="col-sm-2 control-label">欠款金额</label>
										    <div class="col-sm-10">
										      	<input type="text" class="form-control" v-model="fine" disabled>
										    </div>
									  	</div>
									  	<div class="form-group">
									    	<div class="col-sm-offset-2 col-sm-10">
									      		<button type="button" class="btn btn-success" @click="dochange">保存修改</button>
									    	</div>
									  	</div>
									</form>
                                    </div>
			                    </div>
			                </div>
            			</div>
        			</div>
				</div>
    		</div>
    	</div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../js/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../js/sb-admin-2.js"></script>
    <script src="../js/superagent.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../js/util.js"></script>
    <script src="../js/token2user.js"></script>
    <script src="../js/userinfo.js"></script>
    <script src="../js/logout.js"></script>
</body>
</html>